# Ejercicios

1. Usa la [siguiente](https://es.wikipedia.org/wiki/Anexo:Medallero_de_los_Juegos_Ol%C3%ADmpicos_de_Tokio_2020) página web.

2. Extrae la tabla de las medallas olímpicas que tenéis en la página web.

3. Mete todo el código de la extracción de datos en una función.

4. Los resultados deben estar en un *DataFrame* y hacer una exploración básica con los métodos aprendidos en la lección.

In [1]:
# antes de empezar importamos las librerías que vamos a usar. 
# Importar librerías para web scraping y manipulación de datos
# -----------------------------------------------------------------------
from bs4 import BeautifulSoup
import requests

# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd

# Importar librerías para procesamiento de texto
# -----------------------------------------------------------------------
import re

In [51]:
# definimos la url de la página de la vamos a sacar datos
url_medallero = "https://es.wikipedia.org/wiki/Anexo:Medallero_de_los_Juegos_Olímpicos_de_Tokio_2020"

# hacemos la request a la página de la que queremos sacar la info
res_medallero = requests.get(url_medallero)

# vemos si todo ha ido bien
print("La respuesta de la petición es:", res_medallero.status_code)

La respuesta de la petición es: 200

In [ ]:
# creamos el objeto BeautifulSoup para poder acceder al contenido solicitado

sopa_medallero = BeautifulSoup(res_medallero.content, 'html.parser')

# mostramos por pantalla los resultados del objeto de Beautiful Soup. El método ".prettify()" nos ayuda a visualizar los resultados de una forma más amigable
print(sopa_medallero.prettify())

In [5]:
# vamos a seguir usando el metodo ".find_all()"
tablas = sopa_medallero.find_all("table")

print("El número de tablas que tenemos en la página web es:", len(tablas))

El número de tablas que tenemos en la página web es: 3

In [ ]:
# veamos que tenemos en cada una de las tablas que hemos extraído de la página web. 
print("En la tabla 1 tenemos: \n ", tablas[0])
print("\n---------------------\n")

print("En la tabla 2 tenemos: \n", tablas[1])
print("\n---------------------\n")

print("En la tabla 3 tenemos: \n", tablas[2])

In [33]:
# Despues de ver la tabla 1 es la que me interesa
tabla_medallero = tablas[0]

# Sacare encabezados/ seleccionaremos la etiqueta "th" usando el método "th"
lista_encabezados = tabla_medallero.find_all("th")


# Extraigo el texto de la lista iterando por ella
encabezados_medallero = [columna.text for columna in lista_encabezados]
print(encabezados_medallero)



encabezados_medallero = [columna.text.replace('\n', '') for columna in lista_encabezados]
print(encabezados_medallero)
    
# Cambiar nombres por posición
encabezados_medallero[2]= 'oro'
encabezados_medallero[3]= 'plata'
encabezados_medallero[4]= 'bronce'

encabezados_medallero

['Núm.\n', 'País\n', '\n', '\n', '\n', 'Total\n']
['Núm.', 'País', '', '', '', 'Total']

['Núm.', 'País', 'oro', 'plata', 'bronce', 'Total']

In [40]:
# sacamos todas las filas de la variable que nos hemos creado previamente (nuestra tabla), usando el método .find_all()
filas_medallero = tabla_medallero.find_all("tr")
print (f'cantidad de filas extraidas es :{len(filas_medallero)}')


#Reviso contenidos y me doy cuenta que me interesa de la fila 1 en adelante
print("El contenido que tenemos en la primera fila es:\n", filas_medallero[0] )
print("El contenido que tenemos en la segunda fila es:\n", filas_medallero[1] )

cantidad de filas extraidas es :95
El contenido que tenemos en la primera fila es:
 <tr>
<th>Núm.
</th>
<th>País
</th>
<th><span typeof="mw:File"><a class="mw-file-description" href="/wiki/Archivo:Gold_medal_olympic.svg" title="Oro"><img alt="Oro" class="mw-file-element" data-file-height="300" data-file-width="300" decoding="async" height="18" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Gold_medal_olympic.svg/18px-Gold_medal_olympic.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Gold_medal_olympic.svg/27px-Gold_medal_olympic.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Gold_medal_olympic.svg/36px-Gold_medal_olympic.svg.png 2x" width="18"/></a></span>
</th>
<th><span typeof="mw:File"><a class="mw-file-description" href="/wiki/Archivo:Silver_medal_olympic.svg" title="Plata"><img alt="Plata" class="mw-file-element" data-file-height="300" data-file-width="300" decoding="async" height="18" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/67/Silver_medal_olympic.svg/18px-Silver_medal_olympic.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/67/Silver_medal_olympic.svg/27px-Silver_medal_olympic.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/67/Silver_medal_olympic.svg/36px-Silver_medal_olympic.svg.png 2x" width="18"/></a></span>
</th>
<th><span typeof="mw:File"><a class="mw-file-description" href="/wiki/Archivo:Bronze_medal_olympic.svg" title="Bronce"><img alt="Bronce" class="mw-file-element" data-file-height="300" data-file-width="300" decoding="async" height="18" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Bronze_medal_olympic.svg/18px-Bronze_medal_olympic.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Bronze_medal_olympic.svg/27px-Bronze_medal_olympic.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Bronze_medal_olympic.svg/36px-Bronze_medal_olympic.svg.png 2x" width="18"/></a></span>
</th>
<th>Total
</th></tr>
El contenido que tenemos en la segunda fila es:
 <tr>
<td><b>1</b></td>
<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><a class="mw-file-description" href="/wiki/Archivo:Flag_of_the_United_States.svg"><img class="mw-file-element" data-file-height="650" data-file-width="1235" decoding="async" height="11" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/20px-Flag_of_the_United_States.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/30px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/40px-Flag_of_the_United_States.svg.png 2x" width="20"/></a></span></span> <a href="/wiki/Estados_Unidos_en_los_Juegos_Ol%C3%ADmpicos_de_Tokio_2020" title="Estados Unidos en los Juegos Olímpicos de Tokio 2020">Estados Unidos</a> <small>(USA)</small></td>
<td>39</td>
<td>41</td>
<td>33</td>
<td>113
</td></tr>

In [41]:
# Creamos una lista para almacenar los resultados obtenidos.
resultados_medallero = []

# Iniciamos un bucle 'for' para iterar a través de la lista pero comenzamos desde el segundo elemento de la lista.
for fila in filas_medallero[1:]:
    # Para cada 'fila', extraemos el texto, lo dividimos en una lista usando '\n' como separador y eliminamos el primer y último elemento de la lista.
    fila_texto = fila.text
    elementos_fila = fila_texto.split("\n")[1:-1]

    # Añadimos la lista de elementos a la lista 'resultados_medallero'.
    resultados_medallero.append(elementos_fila)

# Imprimimos los resultados obtenidos después de iterar por la lista.
print("Los resultados de iterar por la lista son:\n", resultados_medallero)

Los resultados de iterar por la lista son:
 [['1', ' Estados Unidos\xa0(USA)', '39', '41', '33', '113'], ['2', ' China\xa0(CHN)', '38', '32', '19', '89'], ['3', ' Japón\xa0(JPN)', '27', '14', '17', '58'], ['4', ' Reino Unido\xa0(GBR)', '22', '20', '22', '64'], ['5', ' Rusia\xa0(RUS)', '20', '28', '23', '71'], ['6', ' Australia\xa0(AUS)', '17', '7', '22', '46'], ['7', ' Países Bajos\xa0(NED)', '10', '12', '14', '36'], ['8', ' Francia\xa0(FRA)', '10', '12', '11', '33'], ['9', ' Alemania\xa0(GER)', '10', '11', '16', '37'], ['10', ' Italia\xa0(ITA)', '10', '10', '20', '40'], ['11', ' Canadá\xa0(CAN)', '7', '7', '10', '24'], ['12', ' Brasil\xa0(BRA)', '7', '6', '8', '21'], ['13', ' Nueva Zelanda\xa0(NZL)', '7', '6', '7', '20'], ['14', ' Cuba\xa0(CUB)', '7', '3', '5', '15'], ['15', ' Hungría\xa0(HUN)', '6', '7', '7', '20'], ['16', ' Corea del Sur\xa0(KOR)', '6', '4', '10', '20'], ['17', ' Polonia\xa0(POL)', '4', '5', '5', '14'], ['18', ' República Checa\xa0(CZE)', '4', '4', '3', '11'], ['19', ' Kenia\xa0(KEN)', '4', '4', '2', '10'], ['20', ' Noruega\xa0(NOR)', '4', '2', '2', '8'], ['21', ' Jamaica\xa0(JAM)', '4', '1', '4', '9'], ['22', ' España\xa0(ESP)', '3', '8', '6', '17'], ['23', ' Suecia\xa0(SWE)', '3', '6', '0', '9'], ['24', ' Suiza\xa0(SUI)', '3', '4', '6', '13'], ['25', ' Dinamarca\xa0(DEN)', '3', '4', '4', '11'], ['26', ' Croacia\xa0(CRO)', '3', '3', '2', '8'], ['27', ' Irán\xa0(IRI)', '3', '2', '2', '7'], ['28', ' Serbia\xa0(SRB)', '3', '1', '5', '9'], ['29', ' Bélgica\xa0(BEL)', '3', '1', '3', '7'], ['30', ' Bulgaria\xa0(BUL)', '3', '1', '2', '6'], ['31', ' Eslovenia\xa0(SLO)', '3', '1', '1', '5'], ['32', ' Uzbekistán\xa0(UZB)', '3', '0', '2', '5'], ['33', ' Georgia\xa0(GEO)', '2', '5', '1', '8'], ['34', ' China Taipéi\xa0(TPE)', '2', '4', '6', '12'], ['35', ' Turquía\xa0(TUR)', '2', '2', '9', '13'], ['36', ' Grecia\xa0(GRE)', '2', '1', '1', '4'], ['36', ' Uganda\xa0(UGA)', '2', '1', '1', '4'], ['38', ' Ecuador\xa0(ECU)', '2', '1', '0', '3'], ['39', ' Irlanda\xa0(IRL)', '2', '0', '2', '4'], ['39', ' Israel\xa0(ISR)', '2', '0', '2', '4'], ['41', ' Catar\xa0(QAT)', '2', '0', '1', '3'], ['42', ' Bahamas\xa0(BAH)', '2', '0', '0', '2'], ['42', ' Kosovo\xa0(KOS)', '2', '0', '0', '2'], ['44', ' Ucrania\xa0(UKR)', '1', '6', '12', '19'], ['45', ' Bielorrusia\xa0(BLR)', '1', '3', '3', '7'], ['46', ' Rumania\xa0(ROU)', '1', '3', '0', '4'], ['46', ' Venezuela\xa0(VEN)', '1', '3', '0', '4'], ['48', ' India\xa0(IND)', '1', '2', '4', '7'], ['49', ' Hong Kong\xa0(HKG)', '1', '2', '3', '6'], ['50', ' Filipinas\xa0(PHI)', '1', '2', '1', '4'], ['50', ' Eslovaquia\xa0(SVK)', '1', '2', '1', '4'], ['52', ' Sudáfrica\xa0(RSA)', '1', '2', '0', '3'], ['53', ' Austria\xa0(AUT)', '1', '1', '5', '7'], ['54', ' Egipto\xa0(EGY)', '1', '1', '4', '6'], ['55', ' Indonesia\xa0(INA)', '1', '1', '3', '5'], ['56', ' Etiopía\xa0(ETH)', '1', '1', '2', '4'], ['56', ' Portugal\xa0(POR)', '1', '1', '2', '4'], ['58', ' Túnez\xa0(TUN)', '1', '1', '0', '2'], ['59', ' Estonia\xa0(EST)', '1', '0', '1', '2'], ['59', ' Fiyi\xa0(FIY)', '1', '0', '1', '2'], ['59', ' Letonia\xa0(LAT)', '1', '0', '1', '2'], ['59', ' Tailandia\xa0(THA)', '1', '0', '1', '2'], ['63', ' Bermudas\xa0(BER)', '1', '0', '0', '1'], ['63', ' Marruecos\xa0(MAR)', '1', '0', '0', '1'], ['63', ' Puerto Rico\xa0(PUR)', '1', '0', '0', '1'], ['66', ' Colombia\xa0(COL)', '0', '4', '1', '5'], ['67', ' Azerbaiyán\xa0(AZE)', '0', '3', '4', '7'], ['68', ' República Dominicana\xa0(DOM)', '0', '3', '2', '5'], ['69', ' Armenia\xa0(ARM)', '0', '2', '2', '4'], ['70', ' Kirguistán\xa0(KGZ)', '0', '2', '1', '3'], ['71', ' Mongolia\xa0(MGL)', '0', '1', '3', '4'], ['72', ' Argentina\xa0(ARG)', '0', '1', '2', '3'], ['72', ' San Marino\xa0(SMR)', '0', '1', '2', '3'], ['74', ' Jordania\xa0(JOR)', '0', '1', '1', '2'], ['74', ' Malasia\xa0(MAL)', '0', '1', '1', '2'], ['74', ' Nigeria\xa0(NGR)', '0', '1', '1', '2'], ['77', ' Arabia Saudita\xa0(KSA)', '0', '1', '0', '1'], ['77', ' Baréin\xa0(BRN)', '0', '1', '0', '1'], ['77', ' Lituania\xa0(LTU)', '0', '1', '0', '1'], ['77', ' Macedonia del Norte\xa0(MKD)', '0', '1', '0', '1'], ['77', ' Namibia\xa0(NAM)', '0', '1', '0', '1'], ['77', ' Turkmenistán\xa0(TKM)', '0', '1', '0', '1'], ['83', ' Kazajistán\xa0(KAZ)', '0', '0', '8', '8'], ['84', ' México\xa0(MEX)', '0', '0', '4', '4'], ['85', ' Finlandia\xa0(FIN)', '0', '0', '2', '2'], ['86', ' Botsuana\xa0(BOT)', '0', '0', '1', '1'], ['86', ' Burkina Faso\xa0(BFA)', '0', '0', '1', '1'], ['86', ' Costa de Marfil\xa0(CIV)', '0', '0', '1', '1'], ['86', ' Ghana\xa0(GHA)', '0', '0', '1', '1'], ['86', ' Granada\xa0(GRN)', '0', '0', '1', '1'], ['86', ' Kuwait\xa0(KUW)', '0', '0', '1', '1'], ['86', ' Moldavia\xa0(MDA)', '0', '0', '1', '1'], ['86', ' Siria\xa0(SYR)', '0', '0', '1', '1'], ['Total', '93 países', '340', '338', '402', '1080']]

In [49]:
resultados_medallero

[[1, ' Estados Unidos\xa0(USA)', 39, 41, 33, 113],
 [2, ' China\xa0(CHN)', 38, 32, 19, 89],
 [3, ' Japón\xa0(JPN)', 27, 14, 17, 58],
 [4, ' Reino Unido\xa0(GBR)', 22, 20, 22, 64],
 [5, ' Rusia\xa0(RUS)', 20, 28, 23, 71],
 [6, ' Australia\xa0(AUS)', 17, 7, 22, 46],
 [7, ' Países Bajos\xa0(NED)', 10, 12, 14, 36],
 [8, ' Francia\xa0(FRA)', 10, 12, 11, 33],
 [9, ' Alemania\xa0(GER)', 10, 11, 16, 37],
 [10, ' Italia\xa0(ITA)', 10, 10, 20, 40],
 [11, ' Canadá\xa0(CAN)', 7, 7, 10, 24],
 [12, ' Brasil\xa0(BRA)', 7, 6, 8, 21],
 [13, ' Nueva Zelanda\xa0(NZL)', 7, 6, 7, 20],
 [14, ' Cuba\xa0(CUB)', 7, 3, 5, 15],
 [15, ' Hungría\xa0(HUN)', 6, 7, 7, 20],
 [16, ' Corea del Sur\xa0(KOR)', 6, 4, 10, 20],
 [17, ' Polonia\xa0(POL)', 4, 5, 5, 14],
 [18, ' República Checa\xa0(CZE)', 4, 4, 3, 11],
 [19, ' Kenia\xa0(KEN)', 4, 4, 2, 10],
 [20, ' Noruega\xa0(NOR)', 4, 2, 2, 8],
 [21, ' Jamaica\xa0(JAM)', 4, 1, 4, 9],
 [22, ' España\xa0(ESP)', 3, 8, 6, 17],
 [23, ' Suecia\xa0(SWE)', 3, 6, 0, 9],
 [24, ' Suiza\xa0(SUI)', 3, 4, 6, 13],
 [25, ' Dinamarca\xa0(DEN)', 3, 4, 4, 11],
 [26, ' Croacia\xa0(CRO)', 3, 3, 2, 8],
 [27, ' Irán\xa0(IRI)', 3, 2, 2, 7],
 [28, ' Serbia\xa0(SRB)', 3, 1, 5, 9],
 [29, ' Bélgica\xa0(BEL)', 3, 1, 3, 7],
 [30, ' Bulgaria\xa0(BUL)', 3, 1, 2, 6],
 [31, ' Eslovenia\xa0(SLO)', 3, 1, 1, 5],
 [32, ' Uzbekistán\xa0(UZB)', 3, 0, 2, 5],
 [33, ' Georgia\xa0(GEO)', 2, 5, 1, 8],
 [34, ' China Taipéi\xa0(TPE)', 2, 4, 6, 12],
 [35, ' Turquía\xa0(TUR)', 2, 2, 9, 13],
 [36, ' Grecia\xa0(GRE)', 2, 1, 1, 4],
 [36, ' Uganda\xa0(UGA)', 2, 1, 1, 4],
 [38, ' Ecuador\xa0(ECU)', 2, 1, 0, 3],
 [39, ' Irlanda\xa0(IRL)', 2, 0, 2, 4],
 [39, ' Israel\xa0(ISR)', 2, 0, 2, 4],
 [41, ' Catar\xa0(QAT)', 2, 0, 1, 3],
 [42, ' Bahamas\xa0(BAH)', 2, 0, 0, 2],
 [42, ' Kosovo\xa0(KOS)', 2, 0, 0, 2],
 [44, ' Ucrania\xa0(UKR)', 1, 6, 12, 19],
 [45, ' Bielorrusia\xa0(BLR)', 1, 3, 3, 7],
 [46, ' Rumania\xa0(ROU)', 1, 3, 0, 4],
 [46, ' Venezuela\xa0(VEN)', 1, 3, 0, 4],
 [48, ' India\xa0(IND)', 1, 2, 4, 7],
 [49, ' Hong Kong\xa0(HKG)', 1, 2, 3, 6],
 [50, ' Filipinas\xa0(PHI)', 1, 2, 1, 4],
 [50, ' Eslovaquia\xa0(SVK)', 1, 2, 1, 4],
 [52, ' Sudáfrica\xa0(RSA)', 1, 2, 0, 3],
 [53, ' Austria\xa0(AUT)', 1, 1, 5, 7],
 [54, ' Egipto\xa0(EGY)', 1, 1, 4, 6],
 [55, ' Indonesia\xa0(INA)', 1, 1, 3, 5],
 [56, ' Etiopía\xa0(ETH)', 1, 1, 2, 4],
 [56, ' Portugal\xa0(POR)', 1, 1, 2, 4],
 [58, ' Túnez\xa0(TUN)', 1, 1, 0, 2],
 [59, ' Estonia\xa0(EST)', 1, 0, 1, 2],
 [59, ' Fiyi\xa0(FIY)', 1, 0, 1, 2],
 [59, ' Letonia\xa0(LAT)', 1, 0, 1, 2],
 [59, ' Tailandia\xa0(THA)', 1, 0, 1, 2],
 [63, ' Bermudas\xa0(BER)', 1, 0, 0, 1],
 [63, ' Marruecos\xa0(MAR)', 1, 0, 0, 1],
 [63, ' Puerto Rico\xa0(PUR)', 1, 0, 0, 1],
 [66, ' Colombia\xa0(COL)', 0, 4, 1, 5],
 [67, ' Azerbaiyán\xa0(AZE)', 0, 3, 4, 7],
 [68, ' República Dominicana\xa0(DOM)', 0, 3, 2, 5],
 [69, ' Armenia\xa0(ARM)', 0, 2, 2, 4],
 [70, ' Kirguistán\xa0(KGZ)', 0, 2, 1, 3],
 [71, ' Mongolia\xa0(MGL)', 0, 1, 3, 4],
 [72, ' Argentina\xa0(ARG)', 0, 1, 2, 3],
 [72, ' San Marino\xa0(SMR)', 0, 1, 2, 3],
 [74, ' Jordania\xa0(JOR)', 0, 1, 1, 2],
 [74, ' Malasia\xa0(MAL)', 0, 1, 1, 2],
 [74, ' Nigeria\xa0(NGR)', 0, 1, 1, 2],
 [77, ' Arabia Saudita\xa0(KSA)', 0, 1, 0, 1],
 [77, ' Baréin\xa0(BRN)', 0, 1, 0, 1],
 [77, ' Lituania\xa0(LTU)', 0, 1, 0, 1],
 [77, ' Macedonia del Norte\xa0(MKD)', 0, 1, 0, 1],
 [77, ' Namibia\xa0(NAM)', 0, 1, 0, 1],
 [77, ' Turkmenistán\xa0(TKM)', 0, 1, 0, 1],
 [83, ' Kazajistán\xa0(KAZ)', 0, 0, 8, 8],
 [84, ' México\xa0(MEX)', 0, 0, 4, 4],
 [85, ' Finlandia\xa0(FIN)', 0, 0, 2, 2],
 [86, ' Botsuana\xa0(BOT)', 0, 0, 1, 1],
 [86, ' Burkina Faso\xa0(BFA)', 0, 0, 1, 1],
 [86, ' Costa de Marfil\xa0(CIV)', 0, 0, 1, 1],
 [86, ' Ghana\xa0(GHA)', 0, 0, 1, 1],
 [86, ' Granada\xa0(GRN)', 0, 0, 1, 1],
 [86, ' Kuwait\xa0(KUW)', 0, 0, 1, 1],
 [86, ' Moldavia\xa0(MDA)', 0, 0, 1, 1],
 [86, ' Siria\xa0(SYR)', 0, 0, 1, 1],
 ['Total', '93 países', 340, 338, 402, 1080]]

In [50]:

#Antes habia convertido los numeros a intengers 
# Voy a eliminar las banderas 
# Iteramos a través de cada lista en 'resultados_ibex' y sus elementos usando 'enumerate'.
    # Limpiamos y procesamos los datos en 'resultados_medallero'
    for indice_lista, lista in enumerate(resultados_medallero):
        for indice_elemento, elemento in enumerate(lista):
            # Verifica si el elemento es una cadena antes de intentar limpiarlo
            if isinstance(elemento, str):
                # Elimina los espacios no deseados (\xa0) y quita espacios en blanco alrededor
                elemento_limpio = elemento.replace("\xa0", "").strip()
            else:
                # Si el elemento no es una cadena, lo dejamos tal como está
                elemento_limpio = elemento
            
            # Reasignamos el elemento procesado a la lista original
            resultados_medallero[indice_lista][indice_elemento] = elemento_limpio

# Imprimimos los resultados después de limpiar los datos.
print("Los resultados después de limpiar los datos son: \n", resultados_medallero)

Los resultados después de limpiar los datos son:
 [[1, 'Estados Unidos(USA)', 39, 41, 33, 113], [2, 'China(CHN)', 38, 32, 19, 89], [3, 'Japón(JPN)', 27, 14, 17, 58], [4, 'Reino Unido(GBR)', 22, 20, 22, 64], [5, 'Rusia(RUS)', 20, 28, 23, 71], [6, 'Australia(AUS)', 17, 7, 22, 46], [7, 'Países Bajos(NED)', 10, 12, 14, 36], [8, 'Francia(FRA)', 10, 12, 11, 33], [9, 'Alemania(GER)', 10, 11, 16, 37], [10, 'Italia(ITA)', 10, 10, 20, 40], [11, 'Canadá(CAN)', 7, 7, 10, 24], [12, 'Brasil(BRA)', 7, 6, 8, 21], [13, 'Nueva Zelanda(NZL)', 7, 6, 7, 20], [14, 'Cuba(CUB)', 7, 3, 5, 15], [15, 'Hungría(HUN)', 6, 7, 7, 20], [16, 'Corea del Sur(KOR)', 6, 4, 10, 20], [17, 'Polonia(POL)', 4, 5, 5, 14], [18, 'República Checa(CZE)', 4, 4, 3, 11], [19, 'Kenia(KEN)', 4, 4, 2, 10], [20, 'Noruega(NOR)', 4, 2, 2, 8], [21, 'Jamaica(JAM)', 4, 1, 4, 9], [22, 'España(ESP)', 3, 8, 6, 17], [23, 'Suecia(SWE)', 3, 6, 0, 9], [24, 'Suiza(SUI)', 3, 4, 6, 13], [25, 'Dinamarca(DEN)', 3, 4, 4, 11], [26, 'Croacia(CRO)', 3, 3, 2, 8], [27, 'Irán(IRI)', 3, 2, 2, 7], [28, 'Serbia(SRB)', 3, 1, 5, 9], [29, 'Bélgica(BEL)', 3, 1, 3, 7], [30, 'Bulgaria(BUL)', 3, 1, 2, 6], [31, 'Eslovenia(SLO)', 3, 1, 1, 5], [32, 'Uzbekistán(UZB)', 3, 0, 2, 5], [33, 'Georgia(GEO)', 2, 5, 1, 8], [34, 'China Taipéi(TPE)', 2, 4, 6, 12], [35, 'Turquía(TUR)', 2, 2, 9, 13], [36, 'Grecia(GRE)', 2, 1, 1, 4], [36, 'Uganda(UGA)', 2, 1, 1, 4], [38, 'Ecuador(ECU)', 2, 1, 0, 3], [39, 'Irlanda(IRL)', 2, 0, 2, 4], [39, 'Israel(ISR)', 2, 0, 2, 4], [41, 'Catar(QAT)', 2, 0, 1, 3], [42, 'Bahamas(BAH)', 2, 0, 0, 2], [42, 'Kosovo(KOS)', 2, 0, 0, 2], [44, 'Ucrania(UKR)', 1, 6, 12, 19], [45, 'Bielorrusia(BLR)', 1, 3, 3, 7], [46, 'Rumania(ROU)', 1, 3, 0, 4], [46, 'Venezuela(VEN)', 1, 3, 0, 4], [48, 'India(IND)', 1, 2, 4, 7], [49, 'Hong Kong(HKG)', 1, 2, 3, 6], [50, 'Filipinas(PHI)', 1, 2, 1, 4], [50, 'Eslovaquia(SVK)', 1, 2, 1, 4], [52, 'Sudáfrica(RSA)', 1, 2, 0, 3], [53, 'Austria(AUT)', 1, 1, 5, 7], [54, 'Egipto(EGY)', 1, 1, 4, 6], [55, 'Indonesia(INA)', 1, 1, 3, 5], [56, 'Etiopía(ETH)', 1, 1, 2, 4], [56, 'Portugal(POR)', 1, 1, 2, 4], [58, 'Túnez(TUN)', 1, 1, 0, 2], [59, 'Estonia(EST)', 1, 0, 1, 2], [59, 'Fiyi(FIY)', 1, 0, 1, 2], [59, 'Letonia(LAT)', 1, 0, 1, 2], [59, 'Tailandia(THA)', 1, 0, 1, 2], [63, 'Bermudas(BER)', 1, 0, 0, 1], [63, 'Marruecos(MAR)', 1, 0, 0, 1], [63, 'Puerto Rico(PUR)', 1, 0, 0, 1], [66, 'Colombia(COL)', 0, 4, 1, 5], [67, 'Azerbaiyán(AZE)', 0, 3, 4, 7], [68, 'República Dominicana(DOM)', 0, 3, 2, 5], [69, 'Armenia(ARM)', 0, 2, 2, 4], [70, 'Kirguistán(KGZ)', 0, 2, 1, 3], [71, 'Mongolia(MGL)', 0, 1, 3, 4], [72, 'Argentina(ARG)', 0, 1, 2, 3], [72, 'San Marino(SMR)', 0, 1, 2, 3], [74, 'Jordania(JOR)', 0, 1, 1, 2], [74, 'Malasia(MAL)', 0, 1, 1, 2], [74, 'Nigeria(NGR)', 0, 1, 1, 2], [77, 'Arabia Saudita(KSA)', 0, 1, 0, 1], [77, 'Baréin(BRN)', 0, 1, 0, 1], [77, 'Lituania(LTU)', 0, 1, 0, 1], [77, 'Macedonia del Norte(MKD)', 0, 1, 0, 1], [77, 'Namibia(NAM)', 0, 1, 0, 1], [77, 'Turkmenistán(TKM)', 0, 1, 0, 1], [83, 'Kazajistán(KAZ)', 0, 0, 8, 8], [84, 'México(MEX)', 0, 0, 4, 4], [85, 'Finlandia(FIN)', 0, 0, 2, 2], [86, 'Botsuana(BOT)', 0, 0, 1, 1], [86, 'Burkina Faso(BFA)', 0, 0, 1, 1], [86, 'Costa de Marfil(CIV)', 0, 0, 1, 1], [86, 'Ghana(GHA)', 0, 0, 1, 1], [86, 'Granada(GRN)', 0, 0, 1, 1], [86, 'Kuwait(KUW)', 0, 0, 1, 1], [86, 'Moldavia(MDA)', 0, 0, 1, 1], [86, 'Siria(SYR)', 0, 0, 1, 1], ['Total', '93 países', 340, 338, 402, 1080]]

In [54]:
def sacar_tabla_medallero(url):

    #PASOS INICIALES
    #  url de la página de la vamos a sacar datos
    url_medallero = "https://es.wikipedia.org/wiki/Anexo:Medallero_de_los_Juegos_Olímpicos_de_Tokio_2020"
    # Request a la página 
    res_medallero = requests.get(url_medallero)
    # vemos si todo ha ido bien
    print("La respuesta de la petición es:", res_medallero.status_code)
    # creamos el objeto BeautifulSoup 
    sopa_medallero = BeautifulSoup(res_medallero.content, 'html.parser')
    
    #BUSQUEDA DE INFO EN LA WEB
    # Con el metodo ".find_all()" busco table
    tablas = sopa_medallero.find_all("table")

    #La  tabla que me interesa
    tabla_medallero = tablas[0]

    # Encabezados/ seleccionaremos la etiqueta "th" usando el método "th"
    lista_encabezados = tabla_medallero.find_all("th")
    encabezados_medallero = [columna.text.replace('\n', '') for columna in lista_encabezados]

     # Ajuste de encabezados
    encabezados_medallero[2]= 'oro'
    encabezados_medallero[3]= 'plata'
    encabezados_medallero[4]= 'bronce'
    

    # Filas de la  tabla de medalleros, usando el método .find_all()
    filas_medallero = tabla_medallero.find_all("tr")
    # Creamos una lista para almacenar los resultados obtenidos.
    resultados_medallero = []

    # Iniciamos un bucle 'for' para iterar a través de la lista pero comenzamos desde el segundo elemento de la lista.
    for fila in filas_medallero[1:]:
        # Para cada 'fila', extraemos el texto, lo dividimos en una lista usando '\n' como separador y eliminamos el primer y último elemento de la lista.
        fila_texto = fila.text
        elementos_fila = fila_texto.split("\n")[1:-1]

        # Añadimos la lista de elementos a la lista 'resultados_medallero'.
        resultados_medallero.append(elementos_fila)


    # Limpiamos y procesamos los datos en 'resultados_medallero'

    for indice_lista, lista in enumerate(resultados_medallero):
        for indice_elemento, elemento in enumerate(lista):
            # Verifica si el elemento es una cadena antes de intentar limpiarlo
            if isinstance(elemento, str):
                # Elimina los espacios no deseados (\xa0) y quita espacios en blanco alrededor
                elemento_limpio = elemento.replace("\xa0", "").strip()
            else:
                # Si el elemento no es una cadena, lo dejamos tal como está
                elemento_limpio = elemento
            
            # Reasignamos el elemento procesado a la lista original
            resultados_medallero[indice_lista][indice_elemento] = elemento_limpio

    return encabezados_medallero,resultados_medallero

In [60]:
encabezados_medallero

['Núm.', 'País', 'oro', 'plata', 'bronce', 'Total']

In [55]:
encabezados_medallero_final, datos_medallero_final = sacar_tabla_medallero(url_medallero)

La respuesta de la petición es: 200

In [56]:
# convertimos la lista de listas a DataFrame usando el método 'pd.DataFrame()'. 
df_medallero = pd.DataFrame(datos_medallero_final)
df_medallero

        0                    1    2    3    4     5
0       1  Estados Unidos(USA)   39   41   33   113
1       2           China(CHN)   38   32   19    89
2       3           Japón(JPN)   27   14   17    58
3       4     Reino Unido(GBR)   22   20   22    64
4       5           Rusia(RUS)   20   28   23    71
..    ...                  ...  ...  ...  ...   ...
89     86         Granada(GRN)    0    0    1     1
90     86          Kuwait(KUW)    0    0    1     1
91     86        Moldavia(MDA)    0    0    1     1
92     86           Siria(SYR)    0    0    1     1
93  Total            93 países  340  338  402  1080

[94 rows x 6 columns]

In [62]:
display("Mostramos las 10 primeras filas del DataFrame",df_medallero.head(10))

# Mostramos las dos primeras filas del DataFrame
# ahora vemos que las columnas ya no son números, si no los encabezamos que sacamos al inicio
display("Mostramos las 20 primeras filas del DataFrame", df_medallero.head(20))
print("-------------------------")


df_medallero.columns = encabezados_medallero
# el número de filas y columnas del DataFrame son
print("El número de filas y columnas es:", df_medallero.shape)

'Mostramos las 10 primeras filas del DataFrame'

  Núm.                 País oro plata bronce Total
0    1  Estados Unidos(USA)  39    41     33   113
1    2           China(CHN)  38    32     19    89
2    3           Japón(JPN)  27    14     17    58
3    4     Reino Unido(GBR)  22    20     22    64
4    5           Rusia(RUS)  20    28     23    71
5    6       Australia(AUS)  17     7     22    46
6    7    Países Bajos(NED)  10    12     14    36
7    8         Francia(FRA)  10    12     11    33
8    9        Alemania(GER)  10    11     16    37
9   10          Italia(ITA)  10    10     20    40

'Mostramos las 20 primeras filas del DataFrame'

   Núm.                  País oro plata bronce Total
0     1   Estados Unidos(USA)  39    41     33   113
1     2            China(CHN)  38    32     19    89
2     3            Japón(JPN)  27    14     17    58
3     4      Reino Unido(GBR)  22    20     22    64
4     5            Rusia(RUS)  20    28     23    71
5     6        Australia(AUS)  17     7     22    46
6     7     Países Bajos(NED)  10    12     14    36
7     8          Francia(FRA)  10    12     11    33
8     9         Alemania(GER)  10    11     16    37
9    10           Italia(ITA)  10    10     20    40
10   11           Canadá(CAN)   7     7     10    24
11   12           Brasil(BRA)   7     6      8    21
12   13    Nueva Zelanda(NZL)   7     6      7    20
13   14             Cuba(CUB)   7     3      5    15
14   15          Hungría(HUN)   6     7      7    20
15   16    Corea del Sur(KOR)   6     4     10    20
16   17          Polonia(POL)   4     5      5    14
17   18  República Checa(CZE)   4     4      3    11
18   19            Kenia(KEN)   4     4      2    10
19   20          Noruega(NOR)   4     2      2     8

-------------------------
El número de filas y columnas es: (94, 6)

In [64]:
# sigamos conociendo algunos métodos nuevos, en este caso sacaremos los valores únicos que tenemos en algunas de las columnas
# para eso usaremos el método '.unique()'. Lo que nos va a mostrar esto son las fechas diferentes que tenemos en la columna de Fecha 
print("Los valores únicos que tenemos en la columna de Fecha son:\n", df_medallero["Total"].unique())

Los valores únicos que tenemos en la columna de Fecha son:
 ['113' '89' '58' '64' '71' '46' '36' '33' '37' '40' '24' '21' '20' '15'
 '14' '11' '10' '8' '9' '17' '13' '7' '6' '5' '12' '4' '3' '2' '19' '1'
 '1080']

In [65]:
# en este caso lo que vemos es que cada una de las fechas que tenemos en la columna aparecen solo una vez. 
df_medallero["oro"].value_counts()

oro
0      28
1      22
3      11
2      11
4       5
10      4
7       4
6       2
39      1
38      1
27      1
22      1
20      1
17      1
340     1
Name: count, dtype: int64